html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

:root {
  --violet: hsl(257, 40%, 49%);
  --softMagenta: hsl(300, 69%, 71%);
}

html {
  font-size: 100%;
}

body {
  font-size: rem(16);
}

:root {
  --fontPrimary: "Poppins", sans-serif;
  --fontSecondary: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: var(--fontPrimary);
  background: url("../images/bg-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--violet);
  background-blend-mode: screen;
}
@media (max-width: 39.9375em) {
  body {
    background: url("../images/bg-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--violet);
    background-blend-mode: screen;
  }
}

nav {
  margin-bottom: 3.75rem;
}
nav img {
  width: 50%;
  max-width: 200px;
}

.container {
  color: white;
  padding: 2.5rem;
}
main {
  flex: 1;
}
main img {
  width: 100%;
}
@media (min-width: 64em) {
  main {
    display: flex;
  }
}

.hero__image {
  margin-bottom: 3.75rem;
}
@media (min-width: 64em) {
  .hero__image {
    flex: 1;
    align-self: center;
  }
}

.hero__description {
  text-align: center;
}
@media (min-width: 64em) {
  .hero__description {
    flex: 1;
    text-align: left;
    padding: 3.125rem 3.125rem 0 3.125rem;
  }
}
.hero__description h1 {
  font-size: 1.5625rem;
}
@media (min-width: 64em) {
  .hero__description h1 {
    font-size: 2.5rem;
    max-width: 22ch;
  }
}
.hero__description p {
  font-family: var(--fontSecondary);
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
}
@media (min-width: 64em) {
  .hero__description p {
    font-size: 1rem;
  }
}
.hero__description button {
  font-family: var(--fontSecondary);
  font-size: 1rem;
  background-color: white;
  color: var(--violet);
  padding: 1.25rem 5rem;
  border-radius: 1.875rem;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 150ms ease-in-out;
}
.hero__description button:hover {
  background-color: var(--softMagenta);
  color: white;
  cursor: pointer;
}